---
title: faun
---
{% extends "app/pages/layout/_main.html" %}


{% block content %}
<!-- begin search__pop -->
<div class="search__pop">
	<div class="search__close">
		<span></span><span></span>
	</div>
	<!-- begin container -->
	<div class="container">
		<form action="#">
			<input type="text" class="search__form" placeholder="Search...">
		</form>
	</div>
	<!-- end container -->
</div>
<!-- end search__pop -->
<!-- begin hero -->
<header class="hero">
	<nav>
		<ul class="hero__menu">
			<button class="hero__close">
				<span></span><span></span>
			</button>
			<li><a href="#" class="is-active">Lorem ipsum dolor.</a></li>
			<li><a href="#">Lorem ipsum dolor.</a></li>
			<li><a href="#">Lorem ipsum dolor.</a></li>
			<li><a href="#">Lorem ipsum dolor.</a></li>
			<li><a href="#">Lorem ipsum dolor.</a></li>
		</ul>
	</nav>
	<!-- begin container -->
	<div class="container">
		<div class="hero__top">
			<button class="hero__menu-btn">
				<span></span><span></span><span></span>
			</button>
			<a href="#" class="hero__logo">
				Faun
			</a>
			<a href="#" class="hero__search">
				{{mixins.svg('search')}}
			</a>
		</div>
		<div class="hero__slider-wrapper">
			<div class="hero__buttons"></div>
			<div class="hero__slider">
				<div class="item">
					<div class="item__bg" style="background-image: url('images/hero1.png');"></div>
					<!-- begin container -->
					<div class="container">
						<div class="hero__info">
							<div class="hero__toptext">
								A safe kind
							</div>
							<div class="hero__centertext">
								Music is
							</div>
							<div class="hero__bottomtext">
								of high
							</div>
							<a href="#" class="btn btn__inline btn__transparent btn__white hero__btn">View more</a>
						</div>
					</div>
					<!-- end container -->
				</div>
				<div class="item">
					<div class="item__bg" style="background-image: url('images/hero1.png');"></div>
					<!-- begin container -->
					<div class="container">
						<div class="hero__info">
							<div class="hero__toptext">
								A safe kind
							</div>
							<div class="hero__centertext">
								Music is
							</div>
							<div class="hero__bottomtext">
								of low
							</div>
							<a href="#" class="btn btn__inline btn__transparent btn__white hero__btn">View more</a>
						</div>
					</div>
					<!-- end container -->
				</div>
				<div class="item">
					<div class="item__bg" style="background-image: url('http://placehold.it/1170x900');"></div>
					<!-- begin container -->
					<div class="container">
						<div class="hero__info">
							<div class="hero__toptext">
								A safe kind
							</div>
							<div class="hero__centertext">
								Music is
							</div>
							<div class="hero__bottomtext">
								of medium
							</div>
							<a href="#" class="btn btn__inline btn__transparent btn__white hero__btn">View more</a>
						</div>
					</div>
					<!-- end container -->
				</div>
				<div class="item">
					<div class="item__bg" style="background-image: url('http://placehold.it/1170x900');"></div>
					<!-- begin container -->
					<div class="container">
						<div class="hero__info">
							<div class="hero__toptext">
								A safe kind
							</div>
							<div class="hero__centertext">
								Music is
							</div>
							<div class="hero__bottomtext">
								of zz
							</div>
							<a href="#" class="btn btn__inline btn__transparent btn__white hero__btn">View more</a>
						</div>
					</div>
					<!-- end container -->
				</div>
			</div>
		</div>
	</div>
	<!-- end container -->
</header>
<!-- end hero -->
<!-- begin about -->
<section class="about">
	<!-- begin container -->
	<div class="container">
		<div class="about__bigtitle">
			out us
		</div>
		<div class="about__biggertitle">
			about
		</div>
		<div class="section__left about__left">
			<div class="section__title about__title">
				About us
			</div>
			<div class="section__text about__text">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat et minus magni voluptatibus, voluptate obcaecati ipsam dolorum repudiandae animi, nostrum in. Temporibus mollitia fugiat sed praesentium ab, sit laudantium earum.
			</div>
			<a href="#" class="btn btn__inline btn__transparent btn__black">Check our tour</a>
		</div>
		<div class="section__right about__right">
			<div class="about__image">
				<img src="images/about.jpg" alt="">
				<div class="about__image-text">
					Concert
				</div>
			</div>
		</div>
	</div>
	<!-- end container -->
</section>
<!-- end about -->
<!-- begin video -->
<section class="video">
	<div class="video__slider-wrapper">
		<div class="video__buttons"></div>
		<!-- begin video__slider -->
		<div class="video__slider">
			<div class="item">
				<div class="video__bg" style="background-image: url('images/video1-big.jpg');"></div>
				<!-- begin container -->
				<div class="container">
					<div class="video__info">
						<div class="section__left video__left">
							<a href="#" class="video__icon">
								<div class="video__circle video__circle1">
									<div class="video__circle video__circle2">
										<div class="video__circle video__circle3">
											<span class="icon"></span>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="section__right video__right">
							<div class="video__title">
								Our newest video
							</div>
							<div class="section__text video__text">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores laudantium soluta magnam voluptate distinctio, ipsum nobis natus animi minus unde sint recusandae quisquam eius quas. Tenetur, modi odit eum distinctio.
							</div>
						</div>
					</div>
				</div>
				<!-- end container -->
			</div>
			<div class="item">
				<div class="video__bg" style="background-image: url('images/video2-big.jpg');"></div>
				<!-- begin container -->
				<div class="container">
					<div class="video__info">
						<div class="section__left video__left">
							<a href="#" class="video__icon">
								<div class="video__circle video__circle1">
									<div class="video__circle video__circle2">
										<div class="video__circle video__circle3">
											<span class="icon"></span>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="section__right video__right">
							<div class="video__title">
								Our newest video
							</div>
							<div class="section__text video__text">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores laudantium soluta magnam voluptate distinctio, ipsum nobis natus animi minus unde sint recusandae quisquam eius quas. Tenetur, modi odit eum distinctio.
							</div>
						</div>
					</div>
				</div>
				<!-- end container -->
			</div>
			<div class="item">
				<div class="video__bg" style="background-image: url('images/video3-big.jpg');"></div>
				<!-- begin container -->
				<div class="container">
					<div class="video__info">
						<div class="section__left video__left">
							<a href="#" class="video__icon">
								<div class="video__circle video__circle1">
									<div class="video__circle video__circle2">
										<div class="video__circle video__circle3">
											<span class="icon"></span>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="section__right video__right">
							<div class="video__title">
								Our newest video
							</div>
							<div class="section__text video__text">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores laudantium soluta magnam voluptate distinctio, ipsum nobis natus animi minus unde sint recusandae quisquam eius quas. Tenetur, modi odit eum distinctio.
							</div>
						</div>
					</div>
				</div>
				<!-- end container -->
			</div>
			<div class="item">
				<div class="video__bg" style="background-image: url('images/video4-big.jpg');"></div>
				<!-- begin container -->
				<div class="container">
					<div class="video__info">
						<div class="section__left video__left">
							<a href="#" class="video__icon">
								<div class="video__circle video__circle1">
									<div class="video__circle video__circle2">
										<div class="video__circle video__circle3">
											<span class="icon"></span>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div class="section__right video__right">
							<div class="video__title">
								Our newest video
							</div>
							<div class="section__text video__text">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores laudantium soluta magnam voluptate distinctio, ipsum nobis natus animi minus unde sint recusandae quisquam eius quas. Tenetur, modi odit eum distinctio.
							</div>
						</div>
					</div>
				</div>
				<!-- end container -->
			</div>
		</div>
		<!-- end video__slider -->
	</div>
	<div class="video__progress">
		<div class="progress"></div>
	</div>
	<div class="video__nav">
		<div class="item" style="background-image: url('images/video1.jpg');"></div>
		<div class="item" style="background-image: url('images/video2.jpg');"></div>
		<div class="item" style="background-image: url('images/video3.jpg');"></div>
		<div class="item" style="background-image: url('images/video4.jpg');"></div>
	</div>
</section>
<!-- end video -->
<!-- begin avd -->
<section class="avd">
	<!-- begin container -->
	<div class="container">
		<div class="avd__title">
			Want to hire us?
		</div>
		<div class="section__text avd__text">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem architecto sed officia porro nesciunt delectus nisi voluptate laudantium eum eveniet, atque ratione, obcaecati deleniti, tenetur perspiciatis ab ipsam saepe quod!
		</div>
		<a href="#" class="btn btn__inline btn__transparent btn__white">Contact with us</a>
	</div>
	<!-- end container -->
</section>
<!-- end avd -->
<!-- begin footer -->
<footer class="footer">
	<!-- begin container -->
	<div class="container">
		<a href="#" class="footer__logo">Faun</a>
		<div class="footer__copyright">
			All rights reserved by faun template for rock bands
		</div>
	</div>
	<!-- end container -->
</footer>
<!-- end footer -->
{% endblock %}